// @font-face {
//     font-family: "IBM Plex Sans";
//     src: url('/wp-content/themes/canada/assets/font/IBM Plex Sans.ttf') format('truetype');
//     font-style: normal;
// }
@font-face {
    font-family: "fontspring-demo-willgraya-medium";
    src: url("../../../public/assets/fonts/fontspring-demo-willgraya-medium.otf");
}

@font-face {
    font-family: "fontspring-demo-willgraya-semibold";
    src: url("../../../public/assets/fonts/fontspring-demo-willgraya-semibold.otf");
}

.will-medium {
    font-family: "fontspring-demo-willgraya-medium";
}

.will-semibold {
    font-family: "fontspring-demo-willgraya-semibold";
}