.card-hover {
    .img {
        transform: scale(1);
        transition: 0.3s all ease-in-out;
    }

    &:hover {
        .img {
            transform: scale(1.1);
        }
    }
}

.image-card {
    height: 535px;

    .project-bg-layer {
        height: 275px;
        background: linear-gradient(180deg, rgba(6, 85, 108, 0), rgba(6, 85, 108, 0.3));
    }

    &:nth-child(4n + 2),
    &:nth-child(4n + 3) {
        width: 525px;
    }

    .hover-wrapper {
        opacity: 0;
        visibility: hidden;
        transform: translateY(0px);
    }

    &:hover {
        .hover-wrapper {
            opacity: 1;
            visibility: visible;
            transform: translateY(-100%);
            opacity: 92%;
        }

        .card-title {
            opacity: 0;
        }
    }
}