.hero-slider {

    .slick-slide,
    .slick-list,
    .slick-track {
        height: 100%;

        &>* {
            height: 100%;
        }
    }

    .slick-dots {
        bottom: 0px !important;
    }
}