.hero-slider{

    .slick-slide,
    .slick-list,
    .slick-track {
        height: 100%;

        &>* {
            height: 100%;
        }
    }

    .slick-dots {
        bottom: 0px !important;
    }
}

.related-project-slider{
    .slick-list{
        overflow: visible;
        margin-left: -8px;
        margin-right: -8px;
        
        .slick-slide{
            padding-left: 8px;
            padding-right: 8px;
        }
    }
}

.team-slider{
    .slick-list{
        margin-left: -8px;
        margin-right: -8px;
        
        .slick-slide{
            padding-left: 8px;
            padding-right: 8px;
        }
    }
}