header {
    z-index: 99999;
    padding-block: 35px;

    nav {
        ul {
            li {
                margin-right: 20px;

                &:last-child {
                    margin-right: 0px;
                }

                .header-link {
                    padding-inline: 21px;
                    border-radius: 0px 30px 30px 30px;
                }
            }
        }
    }
}