.hero-section {
    .hero-layer {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.9));
    }
}

.sub-hero-section {
    height: 620px;

    .sub-bg-layer {
        background: linear-gradient(180deg, rgba(3, 39, 49, 0.47), rgba(6, 85, 108, 0.4));
    }
}