.privacy-policy-section {
    .privacy-links {
        li {
            &.active {
                a {
                    opacity: 100%;
                    padding-left: 25px;
                }

                &::before {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 0;
                    transform: translate(50%, -50%);
                    width: 12px;
                    height: 12px;
                    background-image: url("/public/assets/images/color-arrow.svg");
                    background-size: cover;
                    background-repeat: no-repeat;
                }
            }
        }
    }
}