.projects-section {

    .project-title {
        bottom: 50px;
        left: 40px;
    }

}

.project-slider-section {
    .project-img {
        height: 370px;
    }

    .slick-arrow {
        height: 52px;
        width: 52px;

        &.prev-arrow {
            left: 20px;

            img {

                transform: rotate(180deg);
                height: 12px;
            }
        }

        &.next-arrow {
            right: 20px;

            img {

                height: 12px;
            }
        }
    }
}